.nav-top{
    background-color: rgb(47,47,114) !important;
}
.nav-link{
    color:rgb(255, 255, 255) !important;
}
footer{
    background-color: rgb(47, 47, 114) !important;
    color:cornflowerblue !important;
    text-align: center !important;
}